@import "~nav-frontend-tabell-style/src/index";

.kafka-record-value {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kafka-record-row {
  cursor: pointer;
  transition: transform .2s;

  &:hover {
    transform: scale(1.1);
  }
}