
.hovedside {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: min-content min-content;
}

.hovedside__identoppslag-card {
  width: 400px;

}

.hovedside__card-innhold {
  display: flex;
  flex-direction: column;

  .skjemaelement {
    margin-bottom: 1.5rem;
  }
}
